.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.feature-title {
  margin-bottom: 8px;
}

.feature-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.team-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin-top: 8px;
}
